.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
}

.App-link {
  color: #09d3ac;
}

div#login{
display: flex;
align-items: center;
justify-content: space-around;
}

.App-arrow{
 height:20vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto 0;
}
.App-home{
  height:10vmin;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  margin: 0;
  vertical-align:middle;
}
.footer{
  
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  margin: 0;
}